* {
    box-sizing: border-box;
}

html {
    background-color: #1F2937;
}

body {
    width: 900px;
    margin: 0 auto;
}

.logo {
    height: 75px;
    padding-top: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding-right: 40px;
}

li,
a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    line-height: 75px;
}

header {
    display: flex;
    height: 90px;
    background-color: #1F2937;
    justify-content: space-between;
    padding-left: 40px;
}

.hero {
    background-color: #1F2937;
    padding-top: 75px;
    display: flex;
}

.hero-left {
    padding-left: 40px;
}

h1 {
    margin: 0;
    color: white;
    font-size: 48px;
    font-weight: bolder;
}

.hero-text {
    color: white;
    font-size: 18px;
}

.family {
    width: 500px;
    padding: 0 40px;
}

.photos {
    padding: 10px 20px;
    background-color: #3882F6;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}