* {
    box-sizing: border-box;
}

html {
    background-color: #1F2937;
}

body {
    width: 900px;
    margin: 0 auto;
}

.logo {
    height: 75px;
    padding-top: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding-right: 40px;
}

li,
a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    line-height: 75px;
}

header {
    display: flex;
    height: 90px;
    background-color: #1F2937;
    justify-content: space-between;
    padding-left: 40px;
}

.hero {
    background-color: #1F2937;
    padding-top: 75px;
    display: flex;
    padding-bottom: 75px;
}

.hero-left {
    padding-left: 40px;
}

h1 {
    margin: 0;
    color: white;
    font-size: 48px;
    font-weight: bolder;
}

.hero-text {
    color: white;
    font-size: 18px;
}

.family {
    width: 500px;
    padding: 0 40px;
}

.photos {
    padding: 10px 20px;
    background-color: #3882F6;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}

h2 {
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    color: #1F2937;
    padding: 20px;
}

.content {
    background-color: white;
}

.profile {
    width: 180px;
    text-align: center;
}

.familyProfiles {
    display: flex;
    justify-content: space-around;
}

.profilePhoto {
    width: 150px;
    border-radius: 20px;
    border: 3px #3882F6 solid;
}

.quote {
    background-color: gray;
    margin: 0;
}

figure {
    margin: 0;
}

.quoteP {
    margin: 0;
}

blockquote {
    margin: 0;
}